body {
    margin: 0;
    overflow: hidden;

    background-image: url("Images/bbcklvl1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#game {
    position: relative;
    width: 100vw;
    height: 100vh;
}
#player {
    position: absolute;

    width: clamp(50px, 5vw, 80px);
    height: auto;

    left: 10vw;
    bottom: 0px;
}
#chair {
    position: absolute;   
    width: 80px;
    height: 100px;
    left: 400px;          
    bottom: 0px;
}
#chair1 {
    position: absolute;   
    width: 80px;
    height: 100px;
    left: 700px;          
    bottom: 0px;
}
#chair2 {
    position: absolute;   
    width: 80px;
    height: 100px;
    left: 1300px;          
    bottom: 0px;
}

